artifacts/
unity-ultrakill/Library/
unity-ultrakill/Logs/
unity-ultrakill/Temp/
unity-ultrakill/UserSettings/
unity-ultrakill/Assets/Game/
unity-ultrakill/Assets/Plugins/RetailManaged/
port-sources/
.tools/
!.tools/.gitkeep
game-managed/
*.user
*.suo
.vs/
[Bb]in/
[Oo]bj/
[Ll]ibrary/
[Tt]emp/
[Ll]ogs/
*.ipa
*.dSYM.zip
